<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
	  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
	  <link rel="stylesheet" href="/mainPage/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Wine library</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/mainPage/images/logo.svg" alt="" width="200" height="60" class="d-inline-block align-text-top">
          </a>
          <h1>Wine Library</h1>
          <form class="d-flex">
            <a class="nav-link active" aria-current="page" href="../logout">Sign out</a>
          </form>
        </div>
      </nav>

      <section class="section-products">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
              <div class="header">
                <h2>Most Popular Wines</h2>
              </div>
            </div>
          </div>
          <div class="row">
    
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-1" class="single-product">
                <div class="part-1">
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 1</h3>
                  <h4 class="product-old-price">$71.99</h4>
                  <h4 class="product-price">Something from database</h4>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-2" class="single-product">
                <div class="part-1">
                  <span class="discount">15% off</span>
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 2</h3>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-3" class="single-product">
                <div class="part-1">
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 3</h3>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-4" class="single-product">
                <div class="part-1">
                  <span class="new">new</span><!--ako ocemo da pise new iznad slike(kao novo u ponudi)-->
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 4</h3>
                  <h4 class="product-price">Something</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-5" class="single-product">
                <div class="part-1">
                  <span class="new">new</span><!--ako ocemo da pise new iznad slike(kao novo u ponudi)-->
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 5</h3>
                  <h4 class="product-price">Something</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-6" class="single-product">
                <div class="part-1">
                  <span class="new">new</span><!--ako ocemo da pise new iznad slike(kao novo u ponudi)-->
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 6</h3>
                  <h4 class="product-price">Something</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-7" class="single-product">
                <div class="part-1">
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 7</h3>
                  <h4 class="product-price">Something</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-8" class="single-product">
                <div class="part-1">
                  <ul>
                    <li><a href="#"><i class="fas fa-edit"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">Wine 8</h3>
                  <h4 class="product-price">Something</h4>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="section-products">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-6">
            <div class="header">
              <h2>Add your wines and explore the library</h2>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="costume_product" class="single-product">
            <div class="part-1 border">
              <ul>
                <li><a href="#"><i class="fas fa-plus"></i></a></li>
              </ul>
            </div>
            <div class="part-2">
              <h3 class="product-title">Add wine</h3>
              <h4 class="product-price">Something from database</h4>
            </div>
          </div>
        </div>
      </div>
      </section>

</body>

</html>